*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(../imgs/pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.content{
    height: 100vh;
    color: white;
}
.aboutus,.domains,.contact{
    color: white;
}
.aboutus{
    background: rgb(54, 102, 102);
}
.domains{
    background: rgb(29, 29, 70);
}
.domains .dom{
    border: 1px solid white;
    padding: 20px;
    border-radius: 30px;
}
.domains .dom:hover{
    border: 2px solid white;
}
.domains .dom img{
    width: 100%;
    height: 270px;
}
.contact{
    background: rgb(70, 70, 184);
    min-height: 100vh;
}